<template name="menu">
  <div class="box box-default">
    <!--<div class="box-header with-border">
      <i class="fa fa-star"></i>

      <h3 class="box-title">DashBoard Menu</h3>
    </div>-->
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-xs-6 col-sm-3 text-center">
          <h2>Input PO</h2>
          <a href="/PO-Input">
            <div class="alert alert-danger">
              <div class="text-center">
                <i class="fa fa-close fa-5x"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
          <h2>Deliver</h2>
          <div class="alert alert-info">
            <div class="text-center">
              <i class="fa fa-close fa-5x"></i>
            </div>
          </div>
        </div>
        <div class="clearfix visible-xs-block"></div>

        <div class="col-xs-6 col-sm-3 text-center">
          <h2>Deploy</h2>
          <div class="alert alert-warning">
            <div class="text-center">
              <i class="fa fa-close fa-5x"></i>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
          <h2>Project List</h2>
          <div class="alert alert-success">
            <div class="text-center">
              <i class="fa fa-close fa-5x"></i>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- /.box-body -->
  </div>
</template>