<template name="usermenu">
  <li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <img src="images/ruffyG.jpg" class="user-image" alt="User Image">
      <span class="hidden-xs">Ruffy Galang</span>
    </a>
    <ul class="dropdown-menu">
      <li class="user-header">
        <img src="images/ruffyG.jpg" class="img-circle" alt="User Image">
        <p>
          Ruffy Galang - Account Manager
        </p>
      </li>
      <li class="user-body">
      </li>
      <li class="user-footer">
        <div class="pull-right">
          <a href="#" data-action="logout" class="btn btn-default btn-flat">Sign out</a>
        </div>
      </li>
    </ul>
  </li>
</template>